<nav class="navbar navbar-expand-lg sticky-top" style="background-color: var(--dark-bg);">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/BayInfoLogo_narrow.png" alt="Bay Information Systems Logo" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="/#what-we-do">What We Do</a></li>
        <li class="nav-item"><a class="nav-link" href="/#ai-services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/library">Articles</a></li>
        <li class="nav-item"><a class="nav-link" href="/#projects">Projects</a></li>
        <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
          <a class="btn btn-sm btn-outline-light" href="https://bayinformationsystems.substack.com/" target="_blank" rel="noopener">Newsletter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
